<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Completar Perfil | PRODI Salud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_reporte.css') }}">

    <style>
        .btn-login {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: var(--color-primary);
            margin-bottom: 20px;
            border-radius: 8px;
            color: white;
            font-weight: bold;
            transition: background 0.3s ease;
        }

        .btn-login:hover {
            background: #048173;
            filter: brightness(1.2);
            transform: translateY(-2px);
        }
    </style>
</head>

<body class="dashboard-container"
    style="display: flex; align-items: center; justify-content: center; min-height: 100vh; padding: 20px;">
    <div class="glass-card" style="max-width: 600px; padding: 40px; text-align: center;">
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="PRODI"
            style="height: 60px; margin-bottom: 20px;">
        <h1 style="color: rgb(0, 0, 0); font-size: 1.8rem; border: none; padding: 0; margin-bottom: 20px;">¡Bienvenidos
            a PRODI!</h1>
        <p style="color: rgb(0, 0, 0); line-height: 1.6; margin-bottom: 30px;">
            Comencemos evaluando tu salud, completa el siguiente cuestionario</p>

        <a href="/cuestionario" class="btn-login">Completar
            Historia Clínica</a>

        <a href="/logout" style="color: #5f1f1f; text-decoration: none; font-size: 0.9rem; font-weight: bold;">Cerrar
            Sesión</a>
    </div>
</body>

</html>